APP_NAME="Mini Rag App"
APP_VERSION="0.1"

GROQ_API_KEY=""

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE=10

FILE_DEFAULT_CHUNK_SIZE=512000 # 512KB

MONGODB_URL="mongodb://USERNAME:PASSWORD@localhost:27017"
MONGODB_DATABASE="mini-rag"

# LLM CONFIG
GENERATION_BACKEND="GROQ"
EMBEDDING_BACKEND="JINAAI"

GROQ_API_KEY=""

JINAAI_API_KEY=""
JINAAI_API_URL=""

GENERATION_MODEL_ID="llama3-70b-8192"
EMBEDDING_MODEL_ID="jina-clip-v2"
EMBEDDING_MODEL_SIZE="1024"

INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1